<h1>Edit This Bug</h1>

<%= form_with model: [@project, @bug], url: project_bug_path(@project, @bug), method: :patch, local: true do |form| %>
  <div class="form-group">
     <% if @bug.bug_type == "feature"%>
    <%= form.radio_button :bug_type, "feature", checked: @bug.bug_type == "feature" %>
    <%= form.label :bug_type_feature, "Feature" %><br>

    <% else %>
    <%= form.radio_button :bug_type, "bug", checked: @bug.bug_type == "bug" %>
    <%= form.label :bug_type_bug, "Bug" %>

    <% if policy(@bug).qa? %>
      <div class="form-group">
        <%= form.label :image %>
        <%= form.file_field :image %>
    </div>
  <% end %>

    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :title, "Title" %>
    <%= form.text_field :title, readonly: !policy(@bug).permitted_attributes.include?(:title), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, readonly: !policy(@bug).permitted_attributes.include?(:description), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :status, "Status" %>
    <%= form.select :status, status_options(@bug.bug_type), { disabled: !policy(@bug).permitted_attributes.include?(:status) }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :deadline, "Deadline" %>
    <%= form.date_field :deadline, readonly: !policy(@bug).permitted_attributes.include?(:deadline), class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Save Bug", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Back", @project, class: "btn btn-secondary" %>
<style>
  .form-group {
  margin-bottom: 1.5rem; /* Space between form groups */
}

.btn {
  margin-top: 1rem; /* Space above buttons */
}

.image-container {
  margin-top: 1rem; /* Space above image section */
}
</style>